@using WebApplication1.Models
@{
    ViewBag.Title = "ITNews";
}


<section class="hot-news hr">
    <article class="news hot-news-main">
        <div>
            <a href="/Home/News?bai-viet=@ViewBag.hotnews[0].Mabv"><img src="~/Content/Assets/IMG/@ViewBag.hotnews[0].Linkanh"></a>
        </div>
        <div class="text-justify">
            <a href="/Home/News?bai-viet=@ViewBag.hotnews[0].Mabv" class="news-title">@ViewBag.hotnews[0].Tenbv</a>
        </div>
    </article>
    <div class="hot-news-subs">
        <article class="news hot-news-sub">
            <div>
                <a href="/Home/News?bai-viet=@ViewBag.hotnews[1].Mabv" class="img"><img src="~/Content/Assets/IMG/@ViewBag.hotnews[1].Linkanh" width="100%"></a>
                <p class="text-justify"><a href="/Home/News?bai-viet=@ViewBag.hotnews[1].Mabv" class="news-title">@ViewBag.hotnews[1].Tenbv</a></p>
            </div>
        </article>
        <article class="news hot-news-sub">
            <div>
                <a href="/Home/News?bai-viet=@ViewBag.hotnews[2].Mabv" class="img"><img src="~/Content/Assets/IMG/@ViewBag.hotnews[2].Linkanh" width="100%"></a>
                <p class="text-justify"><a href="/Home/News?bai-viet=@ViewBag.hotnews[2].Mabv" class="news-title">@ViewBag.hotnews[2].Tenbv</a></p>
            </div>
        </article>
        <article class="news hot-news-sub">
            <div>
                <a href="/Home/News?bai-viet=@ViewBag.hotnews[2].Mabv" class="img"><img src="~/Content/Assets/IMG/@ViewBag.hotnews[3].Linkanh" width="100%"></a>
                <p class="text-justify"><a href="/Home/News?bai-viet=@ViewBag.hotnews[2].Mabv" class="news-title">@ViewBag.hotnews[3].Tenbv</a></p>
            </div>
        </article>
    </div>
</section>

<div class="box-content">
    @foreach (Topic item in ViewBag.loaitin)
    {
        if (item.IVitri == 1)
        {
            <div class="main-side">
                <section class="topic-news hr">
                    <h3 class="topic-title">
                        <a href="@Url.Action(
                    actionName: "LoaiTin",
                    controllerName: "Home",
                    routeValues: new {
                        maloaitin = item.PK_iMaTL
                    })" class="topic-text">
                            @item.STenTheLoai
                        </a>
                    </h3>
                    @foreach (BaiViet baiViet in item.lstNews)
                    {
                        <article class="news">
                            <a href="/Home/News?bai-viet=@baiViet.Mabv" class="news-title">@baiViet.Tenbv</a>
                            <div>
                                <a href="/Home/News?bai-viet=@baiViet.Mabv" class="img"><img src="~/Content/Assets/IMG/@baiViet.Linkanh"></a>
                                <p class="text-justify text-detail">@baiViet.Motangan</p>
                            </div>
                        </article>
                    }
                </section>
            </div>
        }
        else
        {
            <div class="sub-side">
                <section class="topic-news hr">
                    <h3 class="topic-title">
                        <a href="@Url.Action(
                        actionName: "LoaiTin",
                        controllerName: "Home",
                        routeValues: new {
                            maloaitin = item.PK_iMaTL
                        })" class="topic-text">
                            @item.STenTheLoai
                        </a>
                    </h3>
                    @foreach (BaiViet baiViet in item.lstNews)
                    {
                        <article class="news">
                            <div>
                                <a href="/Home/News?bai-viet=@baiViet.Mabv" class="img"><img src="~/Content/Assets/IMG/@baiViet.Linkanh"></a>
                                <p class="text-justify"><a href="/Home/News?bai-viet=@baiViet.Mabv" class="news-title">@baiViet.Tenbv</a></p>
                            </div>
                        </article>
                    }
                </section>
            </div>
        }
    }
</div>